*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 100px;
    align-items: center;
    padding: 0px 20px;
}
header nav ul li{
    display: inline;
    margin: 0px 40px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.logo h2{
    color: orange;
    font-size: 30px;
}
header button{
    background-color: orange;
    color: white;
    padding: 10px 30px;
    margin: 0px 20px;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.heading h2{
    text-align: center;
    font-size: 60px;
    margin: 30px 0px;
    letter-spacing: 5px;
    
}
.services{
    display: flex;
    justify-content: space-around;
    background-color: orange;
    padding: 50px 100px;
}
.box{
    height: 300px;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 20px 40px 20px;
    border: 2px solid white;
    border-radius: 10px;
    /* box-sizing: border-box; */
}
.box h2{
    color: rgb(210, 139, 8);
    font-size: 25px;
}
.box button{
    background-color: orange;
    color: white;
    padding: 10px 30px;
    margin: 20px 20px;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    /* padding: 20px 0px; */

}
.box p{
    text-align: justify;
    font-size: 18px;
}